{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<div id="background-image" style="background-image:url('/assets/bg-join-us.jpg');"></div>
<div id="home" class="main">
  <h1 class= "title">Join our team</h1>
</div>
<!-- /Header -->

<!-- About -->
<div id="about" class="joinus">
  <div class="container">
    <!-- <h2 class="sub-heading">Overview</h2><div class="separator center"></div> -->
    <div class="about-box">
      <div class="about-body col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <p>
          In these roles, you'll help change culture and practices. You'll need to roll up your sleeves to work on the development, operation, and improvement of complex digital services. As part of this new team, you’d have an opportunity to shape the City’s approach to digital services.
        </p>
        <p>
          If you don't see a role that's a fit right now, join our mailing list below so we can update you when new positions are posted.
          <br><br><br>
        </p>
        <h4>Equity statement</h4>
        <p>We are committed to equity in our hiring, team culture, and product outcomes and fostering an inclusive work environment. We are building a team that reflects a diverse set of lived experiences and identities. This effort includes considering qualified candidates across a spectrum of races, colors, religions, genders, gender identities, sexual orientations, national origins, genetics, disabilities, ages, or veteran status.</p>
        <p>As a team, we strive to be anti-racist. We commit to being  inclusive, accessible, and equitable. While we’re imperfect, we are looking for people to help us dismantle white supremacy and all discrimination. If you’re looking for a team where you can make an impact and improve the lives of all San Francisco residents, then we want to hear from you.</p>
      </div>
    </div>
  </div>
</div>
<!-- /About -->

<!-- <div id="separator-image-2" style="background-image:url('/assets/open-chair.jpg');"></div> -->

<!-- Services -->
<div id="roadmap" class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
    <h1 class="sub-heading">The Roles</h1>
    <hr class="separator center" />
    
    {{ range .Params.roles }}
      <div class="rbox-opening-li">
        <a href="{{ .url }}" class="rbox-opening-li-title">
          {{ .title }}
        </a>
        <div class="rbox-job-shortdesc">
          Location: {{ .location | default "San Francisco, California, United States" }}
          <span class="rbox-opening-position-info">
            <small class="rbox-opening-position-type">
              {{ .type | default "Full-time" }}
            </small>
          </span>
        </div>
      </div>
    {{ end }}

  </div>
</div>
<!-- /Services -->

<div id="separator-image-3" style="background-image:url('/assets/bg-icons.png');"></div>

{{ .Content }}

{{ partial "footer.html" . }}