version: 2
jobs:
  build:
    branches:
      ignore:
        - gh-pages

    docker:
      - image: cibuilds/hugo:0.63

    working_directory: ~/hugo

    environment:
      - SOURCE_BRANCH: master
      - TARGET_BRANCH: gh-pages

    steps:
      - checkout

      - add_ssh_keys

      - run:
          name: Install php and php extensions
          command: |
            sudo apt-get update && sudo apt-get install php -y
            sudo apt-get install php-curl php-iconv php-json php-mbstring php-xml php-phar php-tokenizer php-dom -y
      
      - run:
          name: Install composer
          command: ./.circleci/scripts/install-composer.sh
      
      - run:
          name: Install terminus
          command: |
            curl -O https://raw.githubusercontent.com/pantheon-systems/terminus-installer/master/builds/installer.phar && php installer.phar install

      - run:
          name: Build and deploy
          command: ./.circleci/scripts/build-deploy.sh

