<!-- Contact -->
<div id="contact" class="contact">
  <div class="container">
    <div class="row">
      <h2 class="sub-heading">Join us</h2>
      <div class="separator center"></div>
    </div>
    <div class="col-md-12 center">
      <p>We'll be in touch if it looks like you might be a fit.</p>
    </div>
    <!-- /* Join Us Form -->
    <div class="col-md-12 contact-form">
      <form action="https://formspree.io/sfdtjobs@gmail.com" method="POST" class="form">
        <div class="row">
          <div class="col-xs-12 col-md-6 form-group">
            <label>Name </label>
            <input class="form-control input-lg" id="message_name" label="false" name="name" type="text">
          </div>
          <div class="col-xs-12 col-md-6 form-group">
            <label>Email </label>
            <input class="form-control input-lg" id="message_email" label="false" name="_replyto" type="text">
          </div>
          <div class="col-xs-12 form-group">
            <label>Role(s) of interest </label>
            <input class="form-control input-lg" id="message_role" label="false" name="Role" type="text">
          </div>
          <div class="col-xs-12 col-md-6 form-group">
            <label>LinkedIn </label>
            <input class="form-control input-lg" id="message_name" label="false" name="LinkedIn" type="text">
          </div>
          <div class="col-xs-12 col-md-6 form-group">
            <label>Portfolio URL </label>
            <input class="form-control input-lg" id="message_name" label="false" name="Portfolio" type="text">
          </div>
        </div>
        <label>Message </label>
        <textarea class="form-control input-lg" id="message_body" label="false" name="Message" rows="7"></textarea>
        <input type="text" name="_gotcha" style="display:none" />
        <div class="row">
          <div class="col-xs-12 col-md-12 form-group">  
            <input class="btn btn-custom2" name="send" style="min-width:100%; margin-left: 0;" type="submit" value="Submit">
          </div>
        </div>
        <input type="hidden" name="_subject" value="Interest in CDSO Role" />
        <input type="hidden" name="_next" value="//digitalservices.sfgov.org/thanks" />
      </form>
    </div>
  </div>
</div>