<div id="nav-overlay"></div>
<nav id="navbar" class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand logo" href="{{ .Site.BaseURL }}"><img src="/assets/SF_Digital_Services-logo.svg"></a>
    <div class="nav-right">
      <a id="ham" href="javascript:void(0)">Menu</a>
      <ul id="menu" class="menu">
        <li><a href="#" id="menu-back"><svg style="fill:#0082ed;height:1.25rem;width:1.25rem"><path d="M13.25 10l-7.141-7.42c-0.268-0.27-0.268-0.707 0-0.979 0.268-0.27 0.701-0.27 0.969 0l7.83 7.908c0.268 0.271 0.268 0.709 0 0.979l-7.83 7.908c-0.268 0.271-0.701 0.27-0.969 0s-0.268-0.707 0-0.979l7.141-7.417z"></path></svg></a></li>
        <!-- <li><a href="#">Work</a></li> -->
        <li><a href="https://medium.com/san-francisco-digital-service" target="_blank">Blog</a></li>
        <!-- <li><a href="/strategy.html">Strategy</a></li> -->
        <li><a href="/services">Services</a></li>
        <!--<li><a id="nav-cdso" href="publicparticipation.html">Participate</a></li>-->
        <li><a id="nav-cdso" href="/joinus.html">Join us</a></li>
        <li><a href="/ourteam">Our Team</a></li>
      </ul>
    </div>
  </div>
</nav>
